.services {
  height: 100vh;
  width: 100%;

  background: linear-gradient(-45deg, #3f2b25, #4f59605b, #20133a, #35087c);
background-size: 400% 400%;
animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

.service-box {
  display: flex; 
  /* justify-content: center;
  align-items: center; */

}


.service{
  border: 3px solid #333;
  background-color: #dfdfdf;
  height: 33.33%;

  width: 33.33%;
}

.h1 {
  margin: auto;
  color: white;
  width: fit-content;
  font-size: 58px;
}




