.homepage {
    height: 100vh;
    width: 100vw;

    font-family: 'Saira', monospace;

    background-color: black;

    background-image: url(../../images/figures/business-3d-young-man-in-formalwear-standing-with-hands-on-hip.png),
        repeating-linear-gradient(
            284deg,
            transparent 0px,
            transparent 1px,
            rgb(251, 251, 251) 1px,
            rgb(251, 251, 251) 3px
        ),
        repeating-linear-gradient(
            14deg,
            transparent 0px,
            transparent 1px,
            rgb(251, 251, 251) 1px,
            rgb(251, 251, 251) 3px
        ),
        linear-gradient(90deg, rgb(222, 222, 222), rgb(222, 222, 222));
    background-repeat: no-repeat;
    background-position: 5% 90%;
    background-size: 14rem 39rem, auto, auto, auto;
    /* background-image: repeating-linear-gradient(
            135deg,
            rgb(0, 0, 0) 0px,
            rgb(0, 0, 0) 10px,
            transparent 10px,
            transparent 11px
        ),
        repeating-linear-gradient(22.5deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 10px, transparent 10px, transparent 11px),
        linear-gradient(
            90deg,
            hsl(194, 74%, 56%),
            hsl(266, 74%, 56%),
            hsl(338, 74%, 56%),
            hsl(50, 74%, 56%),
            hsl(122, 74%, 56%)
        ); */

    display: grid;
    grid-template-rows: 35% 65%;
    justify-content: center;
    align-items: center;
}

.section1 {
    align-self: flex-end;
    margin-bottom: 2.5rem;
}

.section2 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a {
    align-self: flex-start;
    text-decoration: none;
}

.arrowButtonContainer {
    display: flex;
    height: 10rem;
}

.arrowButton {
    display: none;
    align-self: flex-end;
    justify-self: center;
    justify-content: center;
    align-items: center;
    background-color: #fb2576;
    padding: 10px;
    height: 2rem;
    width: 2rem;
    transition: all 0.2s ease;
    border: 0.25px solid black;
    color: white;
    cursor: pointer;
}

.arrowButton:hover {
    background-color: white;
    color: #fb2576;
}

.faArrowDown {
    color: rgb(255, 255, 255);
}

.arrowButton:hover .faArrowDown {
    color: #fb2576;
}

.svgArrow {
    justify-self: center;
    vertical-align: middle;
}

.img {
    max-width: 44.86rem;
    min-width: 44.86rem;
}

.h1 {
    color: black;
    width: fit-content;
    text-align: center;
    margin: auto;
    font-size: 58px;
}

.getStarted {
    display: none;
    color: white;
    align-self: flex-start;
    background-color: #fb2576;
    height: fit-content;
    width: fit-content;
    padding: 0.75rem;
    transition: all 0.2s ease;
    border: 0.25px solid black;
}

.getStarted:hover {
    color: #fb2576;
    background-color: white;
}

.span {
    color: #fb2576;
}

.p {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.3px;
    font-family: 'Lexend', monospace;
}

/* 1024 */
@media (max-width: 1025px) {
    .section2 {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .h1 {
        font-size: 36px;
    }

    .a {
        align-self: center;
    }

    .img {
        display: none;
    }

    .getStarted {
        display: block;
    }

    .arrowButton {
        display: flex;
    }
}

/* 1024 - 1366 */
@media (max-width: 1025px) and (max-height: 1367px) {
    .homepage {
        grid-template-rows: 25% 55%;
        background-repeat: no-repeat;
        background-size: 22rem auto, auto, auto, auto;
    }

    .h1 {
        font-size: 3.5rem;
    }

    .p {
        font-size: 1.2rem;
    }
    .getStarted {
        font-size: 24px;
    }
}

/* 768 - 1024 */
@media (max-width: 769px) and (max-height: 1025px) {
    .homepage {
        grid-template-rows: 25% 75%;
        background-repeat: no-repeat;
        background-size: 17rem auto, auto, auto, auto;
    }
}

/* 768 */
@media (max-width: 769px) {
    .section2 {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .h1 {
        font-size: 36px;
    }

    .a {
        align-self: center;
    }

    .img {
        display: none;
    }

    .getStarted {
        display: block;
    }

    .arrowButton {
        display: flex;
    }
}

/* 428 - 926 */
@media (max-width: 429px) and (max-height: 927px) {
    .homepage {
        grid-template-rows: 25% 75%;
    }
}

/* 414 - 896 */
@media (max-width: 415px) and (max-height: 897px) {
    .homepage {
        grid-template-rows: 30% 70%;
        background-size: 14.5rem auto, auto, auto, auto;
    }
}

/* 414 - 736 */
@media (max-width: 415px) and (max-height: 737px) {
    .homepage {
        grid-template-rows: 30% 70%;
        background-size: 11.5rem auto, auto, auto, auto;
    }
}

/* 375 - 812 */
@media (max-width: 376px) and (max-height: 813px) {
    .homepage {
        background-size: 12rem auto, auto, auto, auto;
        grid-template-rows: 30% 70%;
    }
}

/* 375 - 667  */
@media (max-width: 376px) and (max-height: 668px) {
    .homepage {
        background-size: 10rem auto, auto, auto, auto;
        background-position: 0% 100%;
        grid-template-rows: 35% 65%;
    }
}
