.cardCont
{
  position:relative;
}
 .cardBack
{

  position: absolute;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

}
.cardFront
{
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.contLeft{
  margin-right: 13px;

}
.contRight{
  margin-left: 13px;
}
    