.nav {
    /* fixed doesn't work if the parent element contains transform property */
    position: fixed;
    top: 45px;
    left: 0;
    right: 0;
    margin: auto;
    align-self: center;
    height: 55px;
    width: 1100px;
    background-color: rgb(255, 0, 0);
    z-index: 100;
    margin-bottom: 500px;
}

.ul {
    list-style-type: none;
    display: flex;
    height: 45px;
    width: inherit;
    font-family: 'Bebas Neue', monospace;
    letter-spacing: 0.5px;
}

.li {
    border: 0.25px solid rgb(0, 0, 0);
    color: black;
    padding: 10px;
    background-color: white;
}

.li-logo {
    flex-grow: 2;
    transition: all 0.2s ease 0s;
    z-index: 3;
}

.li-logo:hover {
    transform: translate(5px, -5px);
}

.li-services {
    flex-grow: 1;
    transition: all 0.2s ease 0s;
    border-left-width: 0px;
    z-index: 2;
}

.li-services:hover {
    transform: translate(5px, -5px);
    border: 0.25px solid rgb(0, 0, 0);
}

.li-team {
    flex-grow: 1;
    transition: all 0.2s ease 0s;
    border-left-width: 0px;
    z-index: 1;
}

.li-team:hover {
    transform: translate(5px, -5px);
    border: 0.25px solid rgb(0, 0, 0);
}
