.nav {
    /* fixed doesn't work if the parent element contains transform property */
    position: fixed;
    width: 60%;
    max-width: 1146px;
    top: 35px;
    left: 0;
    right: 0;
    margin: auto;
    height: 45px;
    background-color: rgb(0, 0, 0);
    z-index: 100;
}

.ul {
    display: grid;
    width: 100%;
    grid-template-columns: 33.333% 33.333% 33.333%;
    /* max-width: 60%; */
    list-style-type: none;
    height: 45px;
    font-family: 'Chakra Petch', monospace;
    letter-spacing: 0.5px;
}

.li {
    height: 100%;
    width: 100%;
    border: 0.25px solid rgb(0, 0, 0);
    color: black;
    padding: 10px;
    background-color: white;
    transition: all 0.2s ease;
    pointer-events: auto;
}

.a-li-logo {
    flex-grow: 1;
    text-decoration: none;
    transition: all 0.2s ease 0s;
    z-index: 3;
}

.a-li-logo:focus {
    outline: 0;
}

.img-li {
    height: 3rem;
    width: 3rem;
}

.a-li-logo:hover {
    transform: translate(5px, -5px);
}

.li-services {
    border-left-width: 0;
}

.li-services:hover {
    border-left: 0.25px solid black;
}

.a-li-services {
    flex-grow: 1;
    transition: all 0.2s ease 0s;
    text-decoration: none;
    z-index: 2;
}

.a-li-services:focus {
    outline: 0;
}

.a-li-services:hover {
    transform: translate(5px, -5px);
}

.li-team {
    border-left-width: 0;
}

.li-team:hover {
    border-left: 0.25px solid black;
}

.a-li-team {
    flex-grow: 1;
    text-decoration: none;
    transition: all 0.2s ease 0s;
    z-index: 1;
}

.a-li-team:hover {
    transform: translate(5px, -5px);
}

.a-li-team:focus {
    outline: 0;
}

/* 1264 - 570 */
@media (max-width: 1265px) and (max-height: 571px) {
    nav {
        display: none;
    }
}

/* 768 - 1024 */
@media (max-width: 769px) and (max-height: 1025px) {
    nav {
        display: none;
    }
}

/* 428 - 926 */
@media (max-width: 429px) and (max-height: 927px) {
    nav {
        display: none;
    }
}

/* 375 - 667 */
@media (max-width: 376px) and (max-height: 668px) {
    nav {
        display: none;
    }
}
